@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-horizontal-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-horizontal-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
  }